html, body {
  font-size: 1.4em;
  background-image: url('img/backgroundcc.jpg');
  background-attachment: fixed;
  background-repeat:  repeat;
}
.container {
  margin-top: 80px;
}
h1, p {
  text-align: center;
}
p {
  font-size: 1.4em;
}
form {
  float: left!;
  font-size: 1.2em;
}

.sharethis-inline-share-buttons {
  padding: 10px
}
.footer {
  font-size: .7em;
}


* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

.imageDisplay{
  padding-bottom: 100%
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}